* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', cursive;
    overflow-x: hidden;
    overflow-y: auto;
}

:root {
    --color1: rgba(58, 78, 48, 0.8);
    --color2: #9CA687;
    --productHeight: 60vh;
}

@font-face {
    font-family: inter;
    src: url(./data/font/inter/inter.ttf);
}

@font-face {
    font-family: inter-lighter;
    src: url(./data/font/inter/inter-extralight.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: inter, serif;
}


#header-nav-wrapper {
    width: 80%;
    margin: 0 auto;
}

/********************************************** HEADER **********************************************/

header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #000;
}

header a h1 {
    font-weight: lighter;
    letter-spacing: 1vw;
    font-family: inter-lighter;
}

/********************************************** NAV **********************************************/

nav {
    display: grid;
    grid-template-columns: 50% 50%;
    border-top: rgba(0, 0, 0, 0.3) solid 0.2vh;
    border-bottom: rgba(0, 0, 0, 0.3) solid 0.2vh;
    padding: 2vh 0;
    font-family: inter-lighter;
    letter-spacing: 0.2vw;
    margin-bottom: 2vh;
}

nav > div {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

nav a {
    display: block;
    text-align: center;
    color: #000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/********************************************** FILTER **********************************************/

#filter {
    margin: 5vh 0;
}

.collapsible {
    background-color: var(--color1);
    color: var(--color2);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.3rem;
    letter-spacing: 0.5vw;
    font-family: inter-lighter;
    transition: background-color 0.8s;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.filter-content {
    display: none;
}

/********************************************** MAIN / PRODUCTS **********************************************/

main {
    width: 90%;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2vw;
}

main > div {
    box-sizing: border-box;
    width: 100%;
    height: 60vh !important;
    background: url("./img/file-not-here.png");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: 0.1vh #000 solid;
}

.product-overlay {
    height: 59vh !important;
    position: relative;
    top: 1vh;
    left: 1vh;
    border: #000 0.6vh solid;
    transition: all 1s ease 0.2s;
    box-sizing: content-box;
    z-index: 99 !important;
    pointer-events: none;
}

.product-content {
    background-color: rgba(156, 166, 135, 0.7);
    opacity: 0;
    width: 100% !important;
    height: 100%;
    margin-top: -60.2vh;
    z-index: 999 !important;
    transition: all 1s ease 0.2s;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    padding: 2vh 0;
    box-sizing: border-box;
}

main > div:hover .product-overlay {
    top: 0;
    left: 0;
}

main > div:hover .product-content {
    opacity: 100%;
}

.product-headline {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: inter-lighter;
    letter-spacing: 0.1vw;
    width: 80%;
    margin: 0 auto;
    border-bottom: #000 solid 0.2vh;
}

.product-body {
    margin-top: 3vh;
}

.product-body p {
    word-wrap: break-word;
    display: block;
    width: 80%;
    margin: 0 auto;
}

.product-body p:nth-child(n+2) {
    margin-top: 3vh;
}

.product-footer {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
    height: 100%;
    border-top: 0.2vh #000 solid;
    margin: 0 auto;
}

.product-add {
    color: #fff;
    letter-spacing: 0.05vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-add:hover {
    text-decoration: underline;
    cursor: pointer;
}

.product-amount-select {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 90%;
    margin: 0 auto;
}

.product-amount-select > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-amount-select-minus > div {
    clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
    background-color: #000;
    width: 3vh;
    margin: 0 auto;
    height: 3vh;
}

.product-amount-select-plus > div {
    clip-path: polygon(0 40%, 40% 40%, 40% 0, 60% 0, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0 60%);
    background-color: #000;
    width: 3vh;
    margin: auto;
    height: 3vh;
}

.product-amount-select-plus:hover, .product-amount-select-minus:hover {
    cursor: pointer;
}

.product-amount-select > div:nth-child(2) {
    font-size: 1.2em;
}


/********************************************** FOOTER **********************************************/

footer {
    width: 80%;
    margin: 10vh auto 5vh auto;
    border-top: #000 solid 0.1vh;
}

footer > div {
    width: 90%;
    margin: 0.5vh auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

.footer-icon {
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 3vw 0 0;
}

.footer-icon img {
    width: 2vw;
    height: auto;
}

.footer-text {
    display: flex;
    justify-content: left;
    align-items: center;
    letter-spacing: 0.5vw;
    font-family: inter-lighter;
    font-size: 0.8em;
}

@media (max-width: 600px) {
    main {
        grid-template-columns: 100%;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    main {
        grid-template-columns: 50% 50%
    }
}