* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', cursive;
    overflow-x: hidden;
}

/* Index und allgemein */
#blurry{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -22;
    /*z-index: 99;*/
    color: #F0EFED;
    opacity: 0.5;
}

#opend{
    position: absolute;
    width: 84vw;
    height: 84vh;
}

a {
    color: #3A4E30;
    text-decoration: none;
    font-weight: bold;
}

#header {
    background-image: url("./img/henry-be-lc7xcWebECc-unsplash.jpg");
    background-size: cover;
    height: 40vh;
}

#grun {
    position: absolute;
    background-color: #3A4E30;
    width: 100vw;
    height: 40vh;
    opacity: 0.6;
}

#header > h1 {
    position: absolute;
    font-size: 15vh;
    top: 10vh;
    width: 100vw;
    text-align: center;
    text-shadow: 17px 14px 5px rgba(0, 0, 0, 0.75);
    color: #F0EFED;
}

#header > a > h3 {
    position: absolute;
    text-shadow: 17px 14px 5px rgba(0, 0, 0, 0.75);
    font-size: 10vh;
    color: #F0EFED;
}

p {
    font-size: 30px;
}

#buttons {
    position: absolute;
    right: 0;
}

#artikel {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.artikeln {
    margin: 10px;
    height: 30vh;
    background-color: #9CA687;
    border-radius: 10%;
    box-shadow: 7px 13px 5px rgba(0, 0, 0, 0.25);
}

.artikeln > div {
    background-color: #F0EFED;
    height: 21.5vh;
    border-radius: 10%;
    background-size: cover;
    background-position: center;
    box-shadow: 7px 13px 5px rgba(0, 0, 0, 0.25);
}

.artikeln > p {
    margin-left: 0.2vw;
    margin-top: 3vh;
    font-size: 3vh;
}

/* Anmeldung und Konto erstellung */
#mainBox {
    width: 30vw;
    margin: 10px auto;
}

#mainBox > form > div > button{
    margin-top: 2vh;
}

/* Footer */
footer {
    color: #F0EFED;
    background-color: #3A4E30;
    margin-top: 4vh;
    padding: 2vh;
    box-shadow: 14px 14px 39px rgba(0, 0, 0, 0.25), inset 14px 14px 39px rgba(0, 0, 0, 0.25);
}

footer > h2{
    margin-left: 2vw;
}

footer > div{
    display: grid;
    grid-template-columns: auto auto;
}

footer > div > div > h2 {
    text-align: center;
}

footer > div > div > *{
    color: #F0EFED;
}

footer > div > div > p{
    font-size: 3vh;
}